.poster {
    width: 100%;
    object-fit: contain;
    max-height: 100px;
    transition: transform 450ms;
    margin-right: 10px;
}

.poster:hover {
    transform: scale(1.09);
    opacity: 1;
}

.posterLarge {
    max-height: 250px;
    opacity: 1;
}
